input {
  height: 20px;
  width: 100%;
}

code {
  font-size: 12px;
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  height: 400px;
  padding: 10px;
}

.codespan {
  background-color: rgba(222,222,222,0.3);
  color: crimson;
}

.link_btn {
  height: 30px;
  width: 100px;
  background-color: rgb(194, 246, 194);
}

.manage-link {
  margin-top: auto;
}